.magnet {
    position: absolute;
    transition: top 1s, left 1s, opacity 1s;
    cursor: pointer;
}

.magnet:not(.ready) {
    display: none;
}

.magnet.hidden {
    opacity: 0;
}

.magnet:not(.hidden).initied {
    animation: land 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
}

.magnet.dying {
    animation: preHinge 2s infinite 0.5s;
}

.magnet.dragging {
    transition: none;
    z-index: 1;
    animation: none;
}

.magnet.loading {
    opacity: 0.6;
    transition: opacity 0.5s ease 0.5s;
    animation: none;
}

.magnet.animation {
    animation: hinge 3s forwards;
}

.svg {
    height: 100%;
    width: 100%;
}

.path {
    transform: scale(0.8);
    transition: fill 1s;
}

@keyframes preHinge {
  0% {
    transform: rotate3d(0, 0, 1, 10deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: rotate3d(0, 0, 1, 30deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: rotate3d(0, 0, 1, 10deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
}

@keyframes hinge {
  0% {
    transform: rotate3d(0, 0, 1, 20deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 20deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes land {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(20) rotate(50deg);
    filter: blur(10px);
  }

  100% {
    transform-origin: 50% 50%;
  }
}
