<svg [attr.viewBox]="svg.viewBox" class="magnet" [ngClass]="{'dragging': status.drag, 'ready': status.ready, 'loading': status.loading}" [ngStyle]="{'left.px': coordinates[0], 'top.px': coordinates[1]}" (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)" (mouseup)="mouseUp()" (mouseleave)="mouseUp()">
    <svg:filter id="dropshadow{{id}}" height="130%">
      <svg:feGaussianBlur in="SourceAlpha" [attr.stdDeviation]="status.drag ? 3 : 1"/>
      <svg:feOffset [attr.dx]="status.drag ? 3 : 1" [attr.dy]="status.drag ? 3 : 1" result="offsetblur"/>
      <svg:feMerge>
        <svg:feMergeNode/>
        <svg:feMergeNode in="SourceGraphic"/>
      </svg:feMerge>
    </svg:filter>
    <svg:path class="path" [ngStyle]="{'fill': color, 'filter': 'url(#dropshadow' + id + ')'}" [attr.d]="svg.path"/>
</svg>
