<div class="magnet"
    [ngClass]="{'dragging': status.drag, 'ready': status.ready, 'loading': status.loading, 'hidden': status.hidden, 'animation': status.animation, 'initied': status.initied, 'dying': status.dying}"
    [ngStyle]="{'left.%': coordinates[0], 'top.%': coordinates[1], 'width.%': svg.width, 'height.%': svg.height}"
    (mousedown)="mouseDown($event)"
    (window:mousemove)="mouseMove($event)"
    (window:mouseup)="mouseUp()"
    (window:mouseleave)="mouseUp()">
    <svg class="svg" [attr.viewBox]="svg.viewBox">
        <svg:filter id="dropshadow{{magnet.id}}" height="130%" width="130%">
          <svg:feGaussianBlur in="SourceAlpha" [attr.stdDeviation]="status.drag ? 3 : 1"/>
          <svg:feOffset [attr.dx]="status.drag ? 3 : 1" [attr.dy]="status.drag ? 3 : 1" result="offsetblur"/>
          <svg:feMerge>
            <svg:feMergeNode/>
            <svg:feMergeNode in="SourceGraphic"/>
          </svg:feMerge>
        </svg:filter>
        <svg:path class="path" [ngStyle]="{'fill': darkMode ? color.darkMode : color.normal, 'filter': 'url(#dropshadow' + magnet.id + ')'}" [attr.d]="svg.path"/>
    </svg>
<div>
