.magnet {
    position: absolute;
    transition: top 1s, left 1s, opacity 0.2s;
    cursor: pointer;
}

.magnet:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.magnet:not(.ready) {
    display: none;
}

.magnet.dragging {
    transition: none;
    z-index: 1;
}

.magnet.dragging:after {
    opacity: 1;
}

.magnet.loading {
    opacity: 0.6;
    transition: opacity 0.5s ease 0.5s;
}

.path {
    transform: scale(0.8);
}
