.magnet {
    position: absolute;
    transition: top 1s, left 1s, opacity 1s;
    cursor: pointer;
}

.magnet:not(.ready) {
    display: none;
}

.magnet.hidden {
    opacity: 0;
}

.magnet.dragging {
    transition: none;
    z-index: 1;
}

.magnet.loading {
    opacity: 0.6;
    transition: opacity 0.5s ease 0.5s;
}

.magnet.animation {
    background-color: red;
}

.svg {
    height: 100%;
    width: 100%;
}

.path {
    transform: scale(0.8);
}
