<div class="board" #board
(window:resize)="onResize()"
[ngClass]="{'darkMode': darkMode}">
    <magnet
    *ngFor="let magnet of magnets"
    [magnet]="magnet"
    [board]="rectangle"
    [boardLoading]="loading"
    [darkMode]="darkMode"
    (destroy)="animateDestroy($event)"
    (ready)="onLoaded()"></magnet>
    <magnet
    *ngIf="animation.animate"
    [magnet]="animation.magnet"
    [board]="rectangle"
    [darkMode]="darkMode"
    [animationCoordinates]="animation.coordinates"></magnet>
    <div class="loader" *ngIf="loading">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
