.board {
    position: relative;
    border-radius: 5px;
    height: calc(100vh - 20px);
    width: calc(125vh - 20px);
    margin: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (orientation:portrait) {
    .board {
        height: calc(80vw - 20px);
        width: calc(100vw - 20px);
    }
}
