main {
    display: flex;
}

main.darkMode {
    background-color: black;
}

console {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

@media (orientation:portrait) {
    main {
        display: block;
    }
}
