<div class="console">
    <div class="error" [ngClass]="{'displayed': error.display}">{{ error.message }}</div>
    <div class="consoleContent" *ngIf="serverStatus" [hidden]="darkMode">
        <div class="voteMessage">Vote now for the next letter !</div>
        <div class="lettersList">
            <button class="letterItem"
            *ngFor="let letter of letters"
            [ngClass]="{'selected': letter.selected, 'voted': letter.voted}"
            [disabled]="!state.ready || state.letterSelected"
            (click)="selectLetter(letter)">
                {{ letter.type }}
            </button>
        </div>
        <div class="nextRound">
            <div class="nextRoundMessage">
                <span *ngIf="state.timeLeft > 0">Next letter in</span>
                <span *ngIf="state.timeLeft <= 0">New letter ready to come out !</span>
            </div>
            <div class="percentage" [ngStyle]="{'background-image': state.percentageDisplay}" [ngClass]="{'hidden': state.timeLeft <= 0}">
                <div class="percentageTimeLeft">
                    <div class="percentageTimeLeftNumber">{{ state.timeLeft | timeLeft }}</div>
                    <div class="percentageTimeLeftUnits">{{ state.timeLeft < 60 ? 'sec' : 'min' }}</div>
                </div>
            </div>
        </div>
        <stream class="stream"></stream>
        <div class="createdBy">
            <div>Created with love by</div>
            <a href="https://www.linkedin.com/in/victorjouin" target="_blank" class="createdBy--link">Victor Jouin</a>
        </div>
    </div>
</div>
